@using System.Linq
@model IEnumerable<CarRental.Web.Models.ViewModel.CarViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default" id="panelLatestCar">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Cars in the Stock</h3>
            </div>
            <div class="panel-body">
                @if (Model == null)
                {
                    <span>Loading cars</span> <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                }
                else
                {
                    foreach (var car in Model)
                     {
                         <div class="col-xs-6 col-sm-6">
                             <div class="panel panel-default">
                                 <div class="panel-heading">
                                     <strong>@car.Title</strong>
                                 </div>
                             </div>
                             <div class="panel-body">
                                 <div class="media">
                                     <a class="pull-left" href="#">
                                         <a class="pull-left" rel="gallery1" title="@car.Title">
                                             <img class="media-object" width="160" height="120" src="~/Content/images/uploads/@car.ImageUrl" alt="" />
                                         </a>

                                     </a>
                                     <div class="media-body">
                                         @if (@car.Stock > 0)
                                         {
                                             <label class="label label-info">Available</label>
                                         }
                                         else
                                         {
                                            <label class="label label-info">Not Available</label>
                                         }
                                         <div><small>@car.Description...</small></div>
                                         <label class="label label-info">@car.Location</label><br />
                                     </div>
                                     <br />
                                 </div>
                             </div>
                         </div>
                     }
                }
            </div>
        </div>        
    </div>
    <div class="col-md-4">
        aaaa
    </div>
</div>
@*@(HttpContext.Current.User.Identity.IsAuthenticated == true ?
              Html.Label($"Welcome {HttpContext.Current.User.Identity.Name}") : Html.Label("Please login"))*@