@using CarRental.Web.Models.ViewModel
@model CarRental.Web.Models.ViewModel.CustomerViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit Customer</h3>
</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.ID)
    <div class="row spaceBlock">
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Firstname, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Firstname, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.Firstname, "", new {@class = "text-danger"})
        </div>
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Lastname, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Lastname, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.Lastname, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="row spaceBlock">
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Email, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Email, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
        </div>
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.CitizenNumber, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.CitizenNumber, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.CitizenNumber, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="row spaceBlock">
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.BirthDate, new {@class = "control-label"})<br/>
            @Html.TextBoxFor(model => model.BirthDate, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.BirthDate, "", new {@class = "text-danger"})
        </div>
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Mobile, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Mobile, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="row spaceBlock">
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.City, new {@class = "control-label"})<br/>
            @Html.TextBoxFor(model => model.City, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.City, "", new {@class = "text-danger"})
        </div>
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Country, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Country, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.Country, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="row spaceBlock">
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Location, new {@class = "control-label"})<br/>
            @Html.TextBoxFor(model => model.Location, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.Location, "", new {@class = "text-danger"})
        </div>
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.PassportNumber, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.PassportNumber, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.PassportNumber, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="row spaceBlock">
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.LicenseOrigin, new {@class = "control-label"})<br/>
            @Html.TextBoxFor(model => model.LicenseOrigin, new {@class = "form-control text-center"})
            @Html.ValidationMessageFor(model => model.LicenseOrigin, "", new {@class = "text-danger"})
        </div>
        <div class="col-xs-6 col-sm-6">
            @Html.LabelFor(model => model.Gender, new {@class = "control-label"})
            @Html.DropDownList("Gender",
                new SelectList(Enum.GetValues(typeof(Gender))),
                "Select Gender",
                new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Gender, "", new {@class = "text-danger"})
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    <button id="buttonEdit" type="submit" class = "btn btn-primary btnSubmit">Submit Changes</button>
    @*@Html.ActionLink("Submit Changes", "UpdateCustomerInfo", "Customer", null, new {@class = "btn btn-primary btnSubmit"})*@
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#BirthDate").datepicker({ dateFormat: "dd/mm/yy" });
        });

        $('#buttonEdit').submit(function () {
            $('#edit-customer').modal('hide');
            return false;
        });
    </script>
}